<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
      }

      h1 {
        color: #ff4c68;
        text-align: center;
      }

      form {
        max-width: 400px;
        margin: 0 auto;
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      }

      label {
        display: block;
        margin-bottom: 8px;
        color: #555;
      }

      input[type="text"],
      input[type="email"],
      input[type="password"] {
        display: block;
        width: 100%;
        padding: 10px;
        border-radius: 3px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        margin-bottom: 20px;
      }

      button[type="submit"] {
        background-color: #ff4c68;
        color: white;
        padding: 10px 20px;
        border-radius: 3px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      button[type="submit"]:hover {
        background-color: #e73c58;
      }

      a {
        display: block;
        text-align: center;
        margin-top: 20px;
        color: #555;
        text-decoration: none;
      }

      a:hover {
        color: #ff4c68;
      }
    </style>
  </head>
  <body>

    <div>
      <canvas id="stressLevelChart"></canvas>
    </div>

    <div>
      <canvas id="physicalActivityChart"></canvas>
    </div>

    <div>
      <canvas id="eyePainChart"></canvas>
    </div>

    <div>
      <canvas id="sittingHoursChart"></canvas>
    </div>

    <div>
      <canvas id="activityDaysChart"></canvas>
    </div>

    <div>
      <canvas id="activityDurationChart"></canvas>
    </div>

    <div>
      <canvas id="wakeUpTimeChart"></canvas>
    </div>

    <div>
      <canvas id="sleepHoursChart"></canvas>
    </div>

    <div>
      <canvas id="dailyWaterChart"></canvas>
    </div>
  </body>
</html>
